body{
    background-color: #f6f8fa;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 20px;
    padding-right: 5%;
    font-weight: bold;
    
}


ul li{
    display: inline-block;
    padding: 0px 20px;
    
    

}
a{
    text-decoration: none;
    color: white;
}
header{
    
    background-color: black;
   
}
.box{
 width: 100%;
 min-height: 10vh;
 padding: 3%;
 background-image: linear-gradient(rgba(0,8,51,0,9));
  
}

.wave{
    position: absolute;
    
    width:100%;
}

.container-md{
    padding: 50px 0 90px 0;
}

.text-1{
    
    font-size: 20px;
    color: #a09fa2;
}

.text-2{
    font-size: 38px;
    
}
.text-3{
    
    padding: 50px;
    
}
.text-4{
    color: #939297;
    font-style: unset;
    padding: 0 50px;
}
.img-port{
     width: 250px;
     
}
.portafolio{
    display: flex;
    position: absolute;
    width: 50%;

}
.card-img{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 90px;
    text-align:left;
   
    
    
}
.txt-info{
    margin-top: 20px;   
    
}