body{
    background-color: white;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-top: 20px;
    padding-right: 5%;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
    

}
a{
    text-decoration: none;
}


.img-port{
     width: 250px;
     
}
.portafolio{
    display: flex;
    position: absolute;
    width: 50%;

}
.card-img{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 30px;
    text-align:left;    
}
.txt-info{
    margin-top: 20px;
    
    
}